<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
    <title>FactGuard</title>
</head>
<body>
    <%- include('layout/nav-user', {role: userData.role, UserId}); %>
    <div class="container">
        <div class="title">
            <h1>List User</h1>
        </div>
        <div style="text-align: center;">
            <% if (userdel) { %>
                <p style="color: red;"> Username <%= userdel %> berhasil di hapus</p>
            <% } %>
        </div>
        <form>
            <input type="text" name="search">
            <button type="submit">Search</button>
        </form>
        <div class="list">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Organization</th>
                    <th>Action</th>
                </tr>
                <% allUser.forEach(el => { %>
                <tr>
                    <td class="userId"><%= el.id %></td>
                    <td class="userName"><%= el.username %></td>
                    <td class="fullName"><%= el.Profile != null ? el.Profile.fullName : '-' %></td>
                    <td class="role"><%= el.role %></td>
                    <td>
                        <a href="/user/delete/<%= el.id %>">Delete</a>
                    </td>
                </tr>
                <% }) %>
            </table>
        </div>
        <div class="cetak">
            <a href="/user/admin/cetak">Cetak User</a>
        </div>
    </div>
</body>
</html>